table
{
	margin-left:5%;
	margin-right:5%;
	border-collapse:separate;
	border-spacing:10px;	
	border-color:black;
	table-layout:fixed;
	background-color:#222222;
	
}
th
{
	border:1px solid black;
	background-color:#A9A9A9;
}
.date
{
	height:162px;
	background-color:#FFFFF0;
	border:1px solid black;
	vertical-align:top;
}
.note
{
	background-color:#00FFFF;
}
.current
{
	height:162px;
	border:1px solid black;
	color:black;
	background-color:orange;
	vertical-align:top;
}
.empty
{
		
	height:162px;
	background-color:#222222;
	vertical-align:top;
}
#calendar
{
	padding-bottom:5px;
}	
#calheader
{
	color:red;
	font-size:250%;
	padding-bottom:13px;
}

