table
{
	margin-left:5%;
	margin-right:5%;
	border-collapse:separate;
	border-spacing:10px;	
	border-color:black;
	table-layout:fixed;
	background-color:#222222;
	
}
th
{
	border:1px solid black;
	background-color:#A9A9A9;
}
.date
{

	height:162px;
	background-color:#FFFFF0;
	border:1px solid black;
	vertical-align:top;
}
.current
{
	color:red;
	border:1px solid black;
	background-color:yellow;
	vertical-align:top;
}
.empty
{
		
}
.bottom-bar
{
	width:100%;
	margin-bottom:0px;
	color:#FFFFFF;
}
#calendar
{
	padding-bottom:5px;
}	
#calheader
{
	color:red;
	font-size:250%;
	padding:25px;
}
#myname
{
	padding-left:15px;
	padding-top:10px;
}
