{% extends 'Stickynotes/base.html' %}
{%block body_block %}
	<div class="hero-unit">
		<div class="container">
			<form  class="span6"id="entry_form" method="post" action="/calendar/add_entry/">
				{% csrf_token %}

				{% for hidden in form.hidden_fields %}
					{{hidden}}
				{% endfor %}

				{% for field in form.visible_fields %}
					{{field.errors}}
					{{field.help_text}}<br/>
					{{field}}</br>
				{% endfor %}
				<button class="btn btn-primary" type="submit" name="submit" value="Add Entry">Add Entry</button>
			</form>
			</div>
	</div>
{% endblock %}
