{% extends 'Stickynotes/base.html' %}
{% block calendar_block %}
	<div id="calendar">
		<div id="calheader">
			<center>	
				<a href="/calendar/month/{{year}}/{{month}}/prev" class="button">prev</a>
				{{month_spell}}-{{year}}
				<a href="/calendar/month/{{year}}/{{month}}/next" class="button">Next</a>
				<br />
			</center>
		</div>
		<div id="calendar_month">
			<table width="90%">
				<thead>
					<th>Sun</th>
					<th>Mon</th>
					<th>Tue</th>
					<th>Wed</th>
					<th>Thu</th>
					<th>Fri</th>
					<th>Sat</th>
				</thead>	
				<tbody>
					{% for week in month_days %}
						<tr>
						{% for day, current in week %}
						
							<td class={%if day != 0 and not current %}
									 "date"
								   {% endif %}
								   {%if day != 0 and current %}
									"current"	
								   {% endif %}
								   {% if day == 0 %}
									"empty"
								   {% endif %}
										>
								{% if day != 0 %}
									{{day}}
								{% endif %} 
								
							</td>
						{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
